aiohttp==1.0.5
astroid==1.4.8
async-timeout==1.1.0
chardet==2.3.0
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
multidict==2.1.2
pylint==1.6.4
pymongo==3.3.1
six==1.10.0
telepot==10.1
urllib3==1.18.1
wrapt==1.10.8
